body {
    font-family: Arial, sans-serif;
    background: url('https://images.pexels.com/photos/2736499/pexels-photo-2736499.jpeg?cs=srgb&dl=pexels-content-pixie-1405717-2736499.jpg&fm=jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    margin-left: 10%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#task-input, #category-select, #due-date, #priority-select, #add-task-button {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
}

#add-task-button {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
}

#add-task-button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    margin-left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
}

li button.complete-task {
    color: #28a745;
}

li button.delete-task {
    color: #dc3545;
}
